
 	<!-- <section id="loader" class="two"><img src="loader.gif" id="loadergif"/></section> -->
	<section id="content" class="two no-box-shadow">
		<p>Hi, I am <strong>Nihav Jain</strong>, an aspiring Game Programmer, currently pursuing <strong>MS in Interactive Entertainment</strong> from <strong>Florida Interactive Entertainment Academy</strong> (University of Central Florida), Orlando.</p>
		<p>I did my under graduation in Information Systems from Birla Institute of Technology and Science, Pilani - Pilani Campus.</p>
		<p>Favorite games include the Halo series and Far Cry 3 in FPS and World of Goo and Limbo in Indie.. In fact put in anything with a nice physics simulation and I'll play it all day long!<br/>I am also a National level basketball player and an NBA fan.</p>
	</section>		
