<h2>Experience</h2><br/>
<article class="card">
	<h3>Head, Technology and Projects</h3>
	<h4><a href="http://www.ariseimpact.org/" target="_blank">Act to Rise for Innovation in Special Education (A R I S E) Impact</a></h4>
	<h6>(August 2014 - present)</h6>
	<p>Responsibilities -
		<ul class="default">
			<li>Initiate and oversee the development of new products at ARISE Impact</li>
			<li>Oversee the maintenance and improvement of released products of ARISE Impact</li>
			<li>Market research/survey with the help of the on-ground team to understand the latest needs of the differently abled and come up with viable product ideas for the same</li>
			<li>Recruit/Maintain a strong and technically sound team to work on the products</li>
		</ul>
	</p>
</article>
<article class="card" id="globallogic">
	<h3>Trainee Software Engineer</h3>
	<h4><a href="http://www.globallogic.com/" target="_blank">GlobalLogic, NOIDA</a></h4>
	<h6>(July 2014 - Dec 2014)</h6>
	<p>GlobalLogic is a full-lifecycle software product development services leader working in technologies like Big Data Analytics, Cloud, Embedded, Mobile and Security.</p>
	<p>Projects&nbsp;-
		<ul class="default">
			<li>Cross-platform mobile app development using PhoneGap (Cordova) and AngularJS</li>
			<li>PhoneGap plugin development for Android and iOS</li>
			<li>Research on various mobile security threats and developing modules for best possible protection against them</li>
			<li>Research on real-time object detection and recognition algorithms for augmented reality based applications on Android by using OpenCV.</li>
		</ul>
	</p>
</article>
<article class="card" id="bisag-intern">
	<h3>Intern</h3>
	<h4><a href="http://www.bisag.gujarat.gov.in/" target="_blank">Bhaskaracharya Institute for Space Applications &amp; Geo-Informatics (BISAG)</a></h4>
	<h6>(May 2013 - July 2013)</h6>
	<p>BISAG is a State level nodal agency to facilitate the use of spatial and geo-spatial technologies for the planning and developmental activities pertaining to Agriculture, Land/ Water Resources Management, Forestry, Disaster Management etc.</p>
	<p>Projects -
		<ul class="default">
			<li>3D visualization of the Earth's terrain by using Geo-TIFF images as height maps</li>
			<li>Generation of shake maps using parameters of an earthquake(center of origin, depth, magnitude) as input</li>
			<li>Digital Elevation Model (DEM) Profile Generation from Geo-TIFF images</li>
		</ul>
<a href="http://nihavjain.info/projects/bisag" target="_blank">Click here for details of the projects</a></p>
<ul class="custom trophy"><li>I was also awarded the BISAG Innovations Challege Award for my commendable work during the internship.</li></ul>	</p><br/>
</article>
<h2>Positions of Responsibilty</h2>
<article class="card">
	<h3>CoStAAn (Head)</h3>
	<h4><a href="https://en.wikipedia.org/wiki/APOGEE_(festival)#The_CoStAA">Department of Visual Media</a></h4>
	<h6>(April 2013 - April 2014)</h6><br/>
	<p id="apogee">
		<strong>APOGEE</strong> (A Professionals Oriented Gathering of Educational Experience) is the annual technical festival of BITS Pilani. A wholly student managed fest, it is one of the largest technical festivals in India and is often considered to be one of the top three technical festivals in Asia.</p><p>
		<strong>CoStAA</strong> (Committee of Students for Academic Activities) is the organising body of APOGEE and consists of the heads of the major departments working for the fest.</p><p id="dvm">
		<strong>Department of Visual Media</strong>, is a student run body in BITS Pilani, responsible for developing and maintaining the official websites and promotional animation videos for the sports (BOSM), cultural (Oasis), and technical (APOGEE) festival of BITS Pilani. It is a group of 50+ nerds exploring technologies like -
		<ul class="default">
			<li>Website FrontEnd Development (HTML, CSS, JavaScript)</li>
			<li>BackEnd Development (PHP, Django)</li>
			<li>Game Development (Adobe Flash with ActionScript 3.0)</li>
			<li>Graphic Design (Adobe Photoshop)</li>
			<li>Video Animation (Adobe After Effects, Adobe Premiere Pro, Autodesk Maya)</li>
		</ul>
	</p>
</article>
<article class="card">
	<h3>Secretary</h3>
	<h4><a href="http://bitsacm.acm.org/">ACM Student Chapter, BITS Pilani</a></h4>
	<h6>(April 2013 - April 2014)</h6><br/>
	<p>

	</p>
</article>
<article class="card">
	<h3>School Basketball Captain</h3>
	<h4>Seth M.R. Jaipuria School</h4>
	<h6>(2009-2011)</h6>
</article>